body {
    margin: 50px 20px;
    font-family: Helvetica;
}
header {
    background-image: url(img/pattern.jpeg);
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color:white;
 
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

p .blue-bold {
    color: blue;
    font-weight: bold;
}